<mat-sidenav-container >
  <mat-sidenav mode="side" opened >
    <button mat-button class="navbar"><img src="./assets/img/perfil.jpg" style="border-radius: 100%;"><span class="navbar_menu">Ruan Castro</span></button>
    <button mat-button class="navbar"><img src="./assets/img/fb_friends.png" style="border-radius: 100%;"><span class="navbar_menu">Friends</span></button>
    <button mat-button class="navbar"><img src="./assets/img/fb_groups.png" style="border-radius: 100%;"><span class="navbar_menu">Groups</span></button>
    <button mat-button class="navbar"><img src="./assets/img/fb_marketplace.png" style="border-radius: 100%;"><span class="navbar_menu">Marketplace</span></button>
    <button mat-button class="navbar"><img src="./assets/img/fb_tv.png" style="border-radius: 100%;"><span class="navbar_menu">Watch</span></button>
    <button mat-button class="navbar"><img src="./assets/img/back_to_time.png" style="border-radius: 100%;"><span class="navbar_menu">Watch</span></button>
  </mat-sidenav>
  <mat-sidenav mode="side" opened class="" position="end">
    <div class="navbar">
      <span class="navbar_menu_header">Sponsored</span>
      <span class="space"></span>
    </div>
    <mat-divider></mat-divider>
    <div class="navbar">
      <span class="navbar_menu_header">Contacts</span>
      <span class="space"></span>
      <button mat-icon-button class="navbar_menu_header" matTooltip="Affe"><mat-icon>video_call</mat-icon></button>
      <button mat-icon-button class="navbar_menu_header" matTooltip="Info about the action"><mat-icon>search</mat-icon></button>
      <button mat-icon-button class="navbar_menu_header" matTooltip="Info about the action"><mat-icon>more_horiz</mat-icon></button>
    </div>
    <button mat-button class="navbar"><img src="./assets/img/perfil.jpg" style="border-radius: 100%;"><span class="navbar_menu">Ruan Castro</span></button>
    <button mat-button class="navbar"><img src="./assets/img/perfil.jpg" style="border-radius: 100%;"><span class="navbar_menu">Nicoli Aylhandra</span></button>
    <button mat-button class="navbar"><img src="./assets/img/perfil.jpg" style="border-radius: 100%;"><span class="navbar_menu">Rayssa Bruna</span></button>
    <button mat-button class="navbar"><img src="./assets/img/perfil.jpg" style="border-radius: 100%;"><span class="navbar_menu">Rose Castro</span></button>
    <button mat-button class="navbar"><img src="./assets/img/perfil.jpg" style="border-radius: 100%;"><span class="navbar_menu">Raiane Maria</span></button>
    <button mat-button class="navbar"><img src="./assets/img/perfil.jpg" style="border-radius: 100%;"><span class="navbar_menu">Larissa Castro</span></button>
  </mat-sidenav>
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba1.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-divider></mat-divider>
    <mat-card-actions style="justify-items: center;">
      <button mat-button style="padding: 0 75px;"><mat-icon color="warn">favorite</mat-icon>Like</button>
      <button mat-button style="padding: 0 75px;"><mat-icon color="primary">chat</mat-icon>Comment</button>
      <button mat-button style="padding: 0 75px;"><mat-icon color="primary">share</mat-icon>Share</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-divider></mat-divider>
    <mat-card-actions style="justify-items: center;">
      <button mat-button style="padding: 0 75px;"><mat-icon color="primary">favorite</mat-icon>Like</button>
      <button mat-button style="padding: 0 75px;"><mat-icon color="primary">chat</mat-icon>Comment</button>
      <button mat-button style="padding: 0 75px;"><mat-icon color="primary">share</mat-icon>Share</button>
    </mat-card-actions>
  </mat-card>
</mat-sidenav-container>
